<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/details.css">
    <title>Add Movie</title>
</head>
<body>
    <h1>Details about <%= details.name %></h1>
    <img src="<%= details.img %>" alt="Image of <%= details.name %>">
    <p>Date: <%= details.date %></p>
    <p>Awarded by: <%= details.presenter %></p>
    <p>Technologies:</p>
    <div>
        <ul>
            <% for(let i = 0; i< details.technologies.length; i++) {%>
            <li> <%= details.technologies[i] %> </li>
            <% } %>
        </ul>
    </div>
</body>
</html>